@import url("https://use.typekit.net/std3xut.css");
article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary{display:block;}audio,canvas,video{display:inline-block;}audio:not([controls]){display:none;height:0;}[hidden]{display:none;}html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;}body{margin:0;}a:focus{outline:thin dotted;}a:active,a:hover{outline:0;}h1{font-size:2em;margin:0.67em 0;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:bold;}dfn{font-style:italic;}hr{-moz-box-sizing:content-box;box-sizing:content-box;height:0;}mark{background:#ff0;color:#000;}code,kbd,pre,samp{font-family:monospace,serif;font-size:1em;}pre{white-space:pre-wrap;}q{quotes:"\201C" "\201D" "\2018" "\2019";}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-0.5em;}sub{bottom:-0.25em;}img{border:0;}svg:not(:root){overflow:hidden;}figure{margin:0;}fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:0.35em 0.625em 0.75em;}legend{border:0;padding:0;}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}button,input{line-height:normal;}button,select{text-transform:none;}button,html input[type="button"],input[type="reset"],input[type="submit"]{-webkit-appearance:button;cursor:pointer;}button[disabled],html input[disabled]{cursor:default;}input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0;}input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{-webkit-appearance:none;}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0;}
*,
*::after,
*::before {
	box-sizing: border-box;
}

html {
	background: #fff;
}

body {
	--color-text: #000;
	--color-bg: #fff;
	--color-link: #000;
	--color-link-hover: #000;
	--color-info: #000;
	font-family: "brother-1816",sans-serif;
	min-height: 100vh;
	color: #57585c;
	color: var(--color-text);
	background-color: #fff;
	background-color: var(--color-bg);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/* Page Loader */
.js .loading::before {
	content: '';
	position: fixed;
	z-index: 100000;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: var(--color-bg);
}

.js .loading::after {
	content: '';
	position: fixed;
	z-index: 100000;
	top: 50%;
	left: 50%;
	width: 60px;
	height: 60px;
	margin: -30px 0 0 -30px;
	pointer-events: none;
	border-radius: 50%;
	opacity: 0.4;
	background: var(--color-link);
	animation: loaderAnim 0.7s linear infinite alternate forwards;
}

@keyframes loaderAnim {
	to {
		opacity: 1;
		transform: scale3d(0.5,0.5,1);
	}
}

a {
	text-decoration: none;
	color: var(--color-link);
	outline: none;
}

a:hover,
a:focus {
	color: var(--color-link-hover);
	outline: none;
}

.hidden {
	position: absolute;
	overflow: hidden;
	width: 0;
	height: 0;
	pointer-events: none;
}

.message {
	position: relative;
	z-index: 100;
	display: none;
	padding: 1em;
	text-align: center;
	color: var(--color-bg);
	background: var(--color-text);
}

/* Icons */
.icon {
	display: block;
	width: 1.5em;
	height: 1.5em;
	margin: 0 auto;
	fill: currentColor;
}

main {
	position: relative;
	margin: 0 auto;
}

.content {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	min-height: 100vh;
}

/* Header */
.codrops-header {
	position: relative;
	z-index: 100;
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	align-items: center;
	width: 100%;
	padding: 0 0 2rem 0;
}

.codrops-header__title {
	font-size: 1em;
	font-weight: bold;
	margin: 0;
	padding: 0;
}

.info {
	margin: 0 0 0 1.25em;
	color: var(--color-info);
}

.github {
	display: block;
	margin: 0 0 0 auto;
}

/* Top Navigation Style */
.codrops-links {
	position: relative;
	display: flex;
	justify-content: center;
	margin: 0 1em 0 0;
	text-align: center;
	white-space: nowrap;
}

.codrops-icon {
	display: inline-block;
	margin: 0.15em;
	padding: 0.25em;
}

.grid__item {
	position: relative;
	display: flex;
	align-items: stretch;
	width: 100vw;
}

.grid__item--bg {
	background-color: var(--item-bg);
	height: 100vw;
}

.grid__item-content {
	width: 100%;
	padding: 8vw;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	pointer-events: none;
	background: var(--item-bg);
}

.grid__item--bg .grid__item-content {
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
}

.grid__item-img {
	display: block;
	height: 100%;
	width: 100%;
}

.grid__item-img canvas {
	height: 100%;
}

.grid__item-img img {
	height: 100%;
	display: block;
}

.grid__item-img img:nth-child(2) {
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	transition: opacity 0.3s;
}

.grid__item:hover .grid__item-img img:nth-child(2) {
	opacity: 1;
}

.js .grid__item-img img {
	display: none;
}

.grid__item-title {
	font-weight: 700;
	font-size: 2.5rem;
	line-height: 1;
	margin: 2rem 0 0 0;
	color: var(--item-title);
}

.grid__item-title--small {
	font-size: 1.5rem;
	line-height: 1.25;
	margin-bottom: 1rem;
}

.grid__item-meta {
	text-transform: uppercase;
	font-weight: 400;
	letter-spacing: 0.25rem;
	font-size: 0.95rem;
	color: var(--item-meta);
}

.grid__item-subtitle {
	display: block;
	margin: auto 0 0 0;
	font-weight: 400;
	font-size: 1.5em;
	color: var(--item-subtitle);
}

.grid__item-subtitle span {
	display: block;
}

.grid__item-text {
	font-size: 1rem;
	line-height: 1.75;
	margin: 2rem 0 0 0;
	color: var(--item-text);
}

.grid__item-link {
	display: inline-block;
	color: currentColor;
	font-weight: 700;
	font-size: 0.95rem;
	position: relative;
	padding: 0 0 0.2rem;
	pointer-events: auto;
	color: var(--item-link);
}

.grid__item-link:focus,
.grid__item-link:hover {
	color: var(--item-link-hover);
}

.grid__item-link::before {
	content: '';
	position: absolute;
	background: currentColor;
	width: 80%;
	height: 1px;
	bottom: 0;
	transform-origin: 0% 50%;
	transform: scale3d(0,1,1);
	opacity: 0;
	transition: all 0.3s;
	transition-property: opacity, transform;
}

.grid__item-link:hover::before {
	opacity: 1;
	transform: scale3d(1,1,1);
}

.grid__item-link + .grid__item-link {
	margin: 0 0 0 3rem;
}

.grid__item-text + .grid__item-link {
	white-space: nowrap;
	margin-top: 1rem;
	align-self: flex-start;
	margin-top: auto;
}

.grid__item-nav {
	display: flex;
}

/* Themes */
.theme-1 {
	--item-bg: #4bb4e7;
    --item-link: #fff;
    --item-link-hover: #0d2936;
    --item-meta: #fff;
    --item-title: #fff;
    --item-subtitle: #fff;
    --item-text: #fff;
}

.theme-2 {
	--item-bg: rgba(0,0,0,0.2);
	--item-link: #fff;
	--item-link-hover: #fff;
	--item-meta: #fff;
	--item-title: #fff;
	--item-subtitle: #fff;
	--item-text: #fff;
}

.theme-3 {
	--item-bg: rgba(0,0,0,0.2);
	--item-link: #fff;
	--item-link-hover: #fff;
	--item-meta: #fff;
	--item-title: #fff;
	--item-subtitle: #fff;
	--item-text: #fff;
}

.theme-4 {
	--item-bg: #12161e;
    --item-link: #fff;
    --item-link-hover: #9e6817;
    --item-meta: #fff;
    --item-title: #fff;
    --item-subtitle: #fff;
    --item-text: #fff;
}

.theme-5 {
	--item-bg: #efe9dd;
    --item-link: #12161e;
    --item-link-hover: #0d13c1;
    --item-meta: #fff;
    --item-title: #12161e;
    --item-subtitle: #12161e;
    --item-text: #12161e;
}

.theme-6 {
	--item-bg: rgba(0,0,0,0);
    --item-link: #12161e;
    --item-link-hover: #fff;
    --item-meta: #fff;
    --item-title: #ffffff;
    --item-subtitle: #12161e;
    --item-text: #ffffff;
}

.theme-7 {
	--item-bg: rgba(0,0,0,0);
    --item-link: #fff;
    --item-link-hover: #fff;
    --item-meta: #fff;
    --item-title: #fff;
    --item-subtitle: #fff;
    --item-text: #fff;
}

.theme-8 {
	--item-bg: #0c13c1;
    --item-link: #dd8ca5;
    --item-link-hover: #fff;
    --item-meta: #fff;
    --item-title: #fff;
    --item-subtitle: #fff;
    --item-text: #fff;
}

.theme-9 {
	--item-bg: #c9efee;
    --item-link: #000000;
    --item-link-hover: #e80c40;
    --item-meta: #fff;
    --item-title: #000;
    --item-subtitle: #000;
    --item-text: #000;
}

.theme-10 {
	--item-bg: rgba(0,0,0,0);
    --item-link: #000;
    --item-link-hover: #fff;
    --item-meta: #fff;
    --item-title: #fff;
    --item-subtitle: #000;
    --item-text: #fff;
}

.theme-11 {
	--item-bg: rgba(0,0,0,0);
    --item-link: #000;
    --item-link-hover: #fff;
    --item-meta: #000;
    --item-title: #000;
    --item-subtitle: #000;
    --item-text: #000;
}

.theme-12 {
	--item-bg: #4d565b;
    --item-link: #f6fbfe;
    --item-link-hover: #000000;
    --item-meta: #f6fbfe;
    --item-title: #f6fbfe;
    --item-subtitle: #f6fbfe;
    --item-text: #f6fbfe;
}

.theme-13 {
	--item-bg: #d22851;
    --item-link: #712a3b;
    --item-link-hover: #f6fbfe;
    --item-meta: #f6fbfe;
    --item-title: #f6fbfe;
    --item-subtitle: #f6fbfe;
    --item-text: #f6fbfe;
}

.theme-14 {
	--item-bg: rgba(0,0,0,0.2);
    --item-link: #fff;
    --item-link-hover: #fff;
    --item-meta: #fff;
    --item-title: #fff;
    --item-subtitle: #fff;
    --item-text: #fff;
}

.theme-15 {
	--item-bg: rgba(0,0,0,0.3);
    --item-link: #fff;
    --item-link-hover: #fff;
    --item-meta: #fff;
    --item-title: #fff;
    --item-subtitle: #fff;
    --item-text: #fff;
}

.theme-16 {
	--item-bg: #010101;
    --item-link: #63676b;
    --item-link-hover: #f6fbfe;
    --item-meta: #f6fbfe;
    --item-title: #f6fbfe;
    --item-subtitle: #f6fbfe;
    --item-text: #f6fbfe;
}

.theme-17 {
	--item-bg: #ece7e5;
    --item-link: #d68d13;
    --item-link-hover: #2d2c2c;
    --item-meta: #2d2c2c;
    --item-title: #2d2c2c;
    --item-subtitle: #2d2c2c;
    --item-text: #2d2c2c;
}

.theme-18 {
	--item-bg: rgba(0,0,0,0.2);
    --item-link: #fff;
    --item-link-hover: #fff;
    --item-meta: #fff;
    --item-title: #fff;
    --item-subtitle: #fff;
    --item-text: #fff;
}

.theme-19 {
	--item-bg: rgba(0,0,0,0.1);
    --item-link: #6317f5;
    --item-link-hover: #fff;
    --item-meta: #6317f5;
    --item-title: #fff;
    --item-subtitle: #6317f5;
    --item-text: #fff;
}

.theme-20 {
	--item-bg: #6317f5;
    --item-link: #b29d85;
    --item-link-hover: #ffffff;
    --item-meta: #ffffff;
    --item-title: #ffffff;
    --item-subtitle: #ffffff;
    --item-text: #ffffff;
}

.theme-21 {
	--item-bg: #f7ac03;
    --item-link: #ffffff;
    --item-link-hover: #2d2c2c;
    --item-meta: #2d2c2c;
    --item-title: #ffffff;
    --item-subtitle: #2d2c2c;
    --item-text: #2d2c2c;
}

.theme-22 {
	--item-bg: rgba(0,0,0,0.2);
    --item-link: #fff;
    --item-link-hover: #fff;
    --item-meta: #fff;
    --item-title: #fff;
    --item-subtitle: #fff;
    --item-text: #fff;
}

@media screen and (min-width: 85em) {
	.grid__item-text {
		width: 80%;
	}
}

@media screen and (min-width: 50em) {
	.grid {
		display: grid;
		grid-template-columns: repeat(2,50vmax);
	}
	.grid__item {
		height: 50vmax;
		width: 100%;
	}
	.grid__item-subtitle * {
		opacity: 0;
		transform: translate3d(100px, 0, 0);
		transition: all 0.5s cubic-bezier(0.2, 1, 0.7, 1);
		transition-property: transform, opacity;
	}
	.grid__item:hover .grid__item-subtitle * {
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}
	.grid__item:hover .grid__item-subtitle span {
		transition-delay: 0.1s;
	}
	.grid__item:hover .grid__item-subtitle .grid__item-link {
		transition-delay: 0s;
	}
	.grid__item-title {
		font-size: 6vw;
	}
	.grid__item-title--small {
		font-size: 3vw;
	}
	.grid__item-text {
		margin-top: 2.5rem;
	}
}
